@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero {
  background: linear-gradient(270deg, rgb(6 182 212), rgb(59 130 246));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 3s ease infinite;
}

.handwritten {
  font-family: 'Whisper';
  font-size: 1.8rem;
}

.nav-item {
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-item:hover::after {
  display: inline;
}

.nav-item::after {
  display: none;
  content: '';
  position: absolute;
  z-index: 1;
  top: 80%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: display 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(70, 125, 161, 0.5);
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .hero {
    background-size: 150% 100%;
  }

  .handwritten {
    font-size: 1.5rem;
  }
}

/* 为暗色模式提供平滑过渡 */
html {
  transition: color 0.3s, background-color 0.3s;
}